{% extends 'base.html.twig' %}

{% block title %}
	{{"messages.egoera" | trans | capitalize}}
	{{"messages.editatu" | trans | capitalize}}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div id="egoeraren_datuak" class="card margin-top-13 col-6">
				<div class="card-block col">
					<div class="text-center">
						<div id="egoeraren_titulua" class="text-primary">{{"messages.egoera" | trans | capitalize}}
							{{"messages.editatu" | trans | capitalize}}</div>
						<hr class="mt-1 mb-1">
					</div>
					<div class="card-text">
						{{ include('admin/egoera/_form.html.twig', {
				'gordeBotoia': true 
			    }) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" language="javascript">
	$(document).ready(function () {

$("#atzera").click(function () {
window.location.href = Routing.generate('admin_egoera_list', {'_locale': '{{ app.request.getLocale() }}'});
});
});
</script>
{% endblock%}
