<header id="header" class="container-fluid">
    <div class="row">
	<div id="span-logo" class="col-lg-1 col-md-2 col-sm-2"><img class="logo" alt="Amorebieta-Etxanoren Logoa" src="{{ asset('images/logoa.jpeg') }}"></div>
	<div id="span-titulua" class="col-lg-8 col-sm-4"><h1 class="text-center">{{ "messages.aplikazioa" | trans }}</h1></div>
	<div id="span-erabiltzailea">

	    {% if is_granted('ROLE_USER') %}
	    <div class="dropdown">
		<a class="dropdown-toggle" id="perfil_menua" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    <p class="user">{{ app.user.izena }}<br><span class="text-uppercase profile">{{ app.user.roles[0] | trans }}</span></p>
		    <img class="dropdown avatar dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" alt="Erabiltzailea" src="{{ asset('images/default-avatar.png') }}">
		</a>
		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="perfil_menua">
		    <a class="dropdown-item" href="{{ path('user_profile_action') }}">{{ "messages.perfila" | trans | capitalize }}</a>
		    <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">{{ "messages.irten" | trans | capitalize }}</a>
		</div>
	    </div>
	    {% endif %}
	</div>
	{% set currentPath = path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params')) %}
	
	<div id="hizkuntza" class="text-black padding-top-18 margin-left-08"><a href="{{currentPath | replace ({'/eu/': '/es/'}) }}">es</a> / <a href="{{currentPath | replace ({'/es/': '/eu/'}) }}">eu</a></div>
	
    </div>
</header>
