{% extends 'base.html.twig' %}

{% block title %}{{"messages.eskakizun" | trans | capitalize}} {{"messages.berria" | trans | capitalize}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
	<link href="{{ asset('css/glyphicon.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('css/chat.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bower_components/jquery-ui/themes/base/jquery-ui.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bower_components/sweetalert2/dist/sweetalert2.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block edukia %}

   <div class="container-fluid margin-top-13">
       {{ include('eskakizuna/_form.html.twig',{
				'gordeBotoia': false 
			    }) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" language="javascript">
	$(document).ready(function(){
	    $(".js-atzera-botoia").click(function() {
		window.location.href=Routing.generate('admin_eskakizuna_list',{'_locale': $("html").attr("lang") });
	    });
	});    
    </script>
    <script type="text/javascript" src="{{ asset('bower_components/tinymce/tinymce.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/jquery-ui/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/sweetalert2/dist/sweetalert2.min.js') }}"></script>    <!--Google Maps-->
    <script type="text/javascript" src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
    {% if app.request.locale == 'es' %}
	<script type="text/javascript" src="{{ asset('js/locales/bootstrap-datetimepicker.es.js') }}"></script>
    {% else %}
        <script type="text/javascript" src="{{ asset('js/locales/bootstrap-datetimepicker.eu.js') }}"></script>
    {% endif %}
    <script type="text/javascript" src="{{ asset('js/eskakizunak/eskakizuna.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/orokorra.js') }}"></script>
    <script type="text/javascript" src="{{ asset('https://maps.googleapis.com/maps/api/js?key=AIzaSyCn-GGZ6dxYSUHErqsyVHzKHwReuUz4XPY') }}"></script>
{% endblock%}