{{ form_start(estatistikaForm, {
	'attr': {
	    'novalidate': 'novalidate',
	}
	})
}}

{{ form_errors(estatistikaForm) }}
	<div class="row">
	    <div class="col-lg-3 col-md-3 md-form form-group form-sm date" id="datetimepicker1">
		    <i class="fa fa-calendar prefix js-calendar"></i>
		    <label class="js-noiztik-label" for="noiztik">{{ 'messages.noiztik' | trans | capitalize }}</label>
		    {{ form_widget(estatistikaForm.noiztik, { 'attr': { 'class' : 'form-control js-datepicker js-datepicker-noiztik' } }) }}
		    {{ form_errors(estatistikaForm.noiztik) }}
	    </div>
	    <div class="col-lg-3 col-md-3 md-form form-group form-sm date" id="datetimepicker2">
		    <i class="fa fa-calendar prefix js-calendar"></i>
		    <label class="js-nora-label" for="nora">{{ 'messages.nora' | trans | capitalize }}</label>
		    {{ form_widget(estatistikaForm.nora, { 'attr': { 'class' : 'form-control js-datepicker js-datepicker-nora' } }) }}
		    {{ form_errors(estatistikaForm.nora) }}
	    </div>
	    <div class="col-lg-4 col-md-4 md-form form-group form-sm">
		<i class="fa fa-building prefix"></i>
		{{ form_widget(estatistikaForm.enpresa, { 'attr': { 'class' : 'md-select' } }) }}
		{{ form_errors(estatistikaForm.enpresa) }}
	    </div>
	    <div class="col-lg-2 col-md-2 md-form form-group form-sm">
		<button id="js-btn-bilatu" class="col btn btn-primary form-control" type="submit"><i class="fa fa-search left"></i>{{ 'messages.bilatu' | trans | capitalize }}</button>
	    </div>
	</div>
{{ form_end(estatistikaForm) }}
