{{ form_start(erabiltzaileaForm, {
	'attr': {
	    'novalidate': 'novalidate'
	}
})
}}
{{ form_errors(erabiltzaileaForm) }}

<div class="md-form form-group form-sm">
	<i class="fa fa-user prefix"></i>
	<label for="username">{{ 'messages.username'|trans | capitalize}}</label>
	{{ form_widget(erabiltzaileaForm.username, { 'attr': { 'class' : '' } }) }}
	{{ form_errors(erabiltzaileaForm.username) }}
</div>

{% if (password_change) %}
	<div class="md-form form-group form-sm">
		<i class="fa fa-lock prefix"></i>
		<label for="username">{{ 'user.new_password'|trans | capitalize}}</label>
		{{ form_widget(erabiltzaileaForm.password.first, { 'attr': { 'class' : 'form-control', 'autocomplete': 'off'} }) }}
	</div>
	<div class="md-form form-group form-sm">
		<i class="fa fa-lock prefix"></i>
		<label for="username">{{ 'user.repeat_new_password'|trans | capitalize}}</label>
		{{ form_widget(erabiltzaileaForm.password.second, { 'attr': { 'class' : 'form-control', 'autocomplete': 'off'} }) }}
		{{ form_errors(erabiltzaileaForm.password) }}
	</div>
{% endif %}

<div class="md-form form-group form-sm">
	<i class="fa fa-send prefix"></i>
	<label for="email">{{ 'messages.email' | trans | capitalize }}</label>
	{{ form_widget(erabiltzaileaForm.email, { 'attr': { 'class' : 'form-control' } }) }}
	{{ form_errors(erabiltzaileaForm.email) }}
</div>

<div class="md-form form-group form-sm">
	<i class="fa fa-male prefix"></i>
	<label for="izena">{{ 'messages.izena' | trans | capitalize }}</label>
	{{ form_widget(erabiltzaileaForm.firstName, { 'attr': { 'class' : 'form-control' } }) }}
	{{ form_errors(erabiltzaileaForm.firstName) }}
</div>

<div class="md-form form-group form-sm">
	<i class="fa fa-phone prefix"></i>
	<label for="telefonoa">{{ 'messages.telefonoa' | trans | capitalize }}</label>
	{{ form_widget(erabiltzaileaForm.telefonoa, { 'attr': { 'class' : 'form-control' } }) }}
	{{ form_errors(erabiltzaileaForm.telefonoa) }}
</div>
<div class="md-form form-group form-sm">
	<i class="fa fa-phone prefix"></i>
	<label for="emaila">{{ 'messages.telefonoa2' | trans | capitalize }}</label>
	{{ form_widget(erabiltzaileaForm.telefonoa2, { 'attr': { 'class' : 'form-control' } }) }}
	{{ form_errors(erabiltzaileaForm.telefonoa2) }}
</div>

{% if profile == false %}
	{# {{ form_widget(erabiltzaileaForm.roles, { 'attr': { 'class' : 'form-group form-sm form-check form-check-inline' } }) }} #}
	{{ form_widget(erabiltzaileaForm.roles, { 'attr': { 'class' : 'form-group form-sm' } }) }}
	{{ form_errors(erabiltzaileaForm.roles) }}

	<div class="md-form form-group form-sm">
		<i class="fa fa-building prefix"></i>
		{{ form_widget(erabiltzaileaForm.enpresa, { 'attr': { 'class' : 'md-select' } }) }}
		{{ form_errors(erabiltzaileaForm.enpresa) }}
	</div>

	<div class="md-form form-group form-sm">
		<i class="fa fa-sort-numeric-asc prefix"></i>
		<label for="ordena">{{ 'messages.ordena' | trans | capitalize }}</label>
		{{ form_widget(erabiltzaileaForm.ordena, { 'attr': { 'class' : 'form-control' } }) }}
		{{ form_errors(erabiltzaileaForm.ordena) }}
	</div>
	<div class="form-group form-inline form-sm mb-1 pl-2">
		{{ form_widget(erabiltzaileaForm.activated, { 'attr': { 'class' : '' } }) }}
		{{ form_errors(erabiltzaileaForm.activated) }}
	</div>
{% endif %}
<div class="row md-form form-group form-sm col">
	{% if (gordeBotoia == true) %}
		<button class="col-3 btn btn-primary form-control" type="submit" formnovalidate>
			<i class="fa fa-save left"></i>
			{{"messages.gorde" | trans | capitalize}}</button>
	{% endif %}
	<button id="atzera" class="col-3 btn btn-primary form-control" type="button">
		<i class="fa fa-arrow-circle-left left"></i>
		{{"messages.utzi" | trans | capitalize}}</button>
</div>
{{ form_row(erabiltzaileaForm._token) }}

{{ form_end(erabiltzaileaForm, {'render_rest': false}) }}
