{% extends 'base.html.twig' %}

{% block title %}
	{{"messages.erabiltzailea" | trans | capitalize}}
	{{"messages.ikusi" | trans | capitalize}}
{% endblock %}

{# {% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock javascripts %} #}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="card margin-top-13 col-12">
				<div class="card-block col">
					<div class="text-center">
						<div class="text-primary">{{ 'security.login.remember_password' | trans | capitalize  }}</div>
						<hr class="mt-1 mb-1">
					</div>
					<div class="card-text">
						{{ form_start(form, { 'action': path('user_reset_password_action', {'token': token}), 'attr': { 'class': 'user_reset_password_action' } }) }}
              <div class="md-form form-group form-sm">
                <i class="fa fa-lock prefix"></i>
                <label for="username">{{ 'user.new_password'|trans | capitalize}}</label>
                {{ form_widget(form.password.first, { 'attr': { 'class' : 'form-control', 'autocomplete': 'off'} }) }}
              </div>
              <div class="md-form form-group form-sm">
                <i class="fa fa-lock prefix"></i>
                <label for="username">{{ 'user.repeat_new_password'|trans | capitalize}}</label>
                {{ form_widget(form.password.second, { 'attr': { 'class' : 'form-control', 'autocomplete': 'off'} }) }}
                {{ form_errors(form.password) }}
              </div>
              <div>
                <button class="col-3 btn btn-primary form-control waves-effect waves-light" type="submit" formnovalidate>
                  <i class="fa fa-lock left"></i>
                  {{ 'messages.gorde' | trans | capitalize }}</button>
              </div>
              {{ form_widget(form._token) }}
						{{ form_end(form, {'render_rest': false}) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}